:root {
    /* Colores */
  --VeryDarkBlue: hsl(243, 87%, 12%);
--DesaturatedBlue: hsl(238, 22%, 44%);

--BrightBlue: hsl(224, 93%, 58%);
--ModerateCyan: hsl(170, 45%, 43%);


--LightGrayishBlue: hsl(240, 75%, 98%);
--LightGray: hsl(0, 0%, 75%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 62,5%;
    font-family: "DM Sans", sans-serif;
    background-color: var(--LightGrayishBlue);
}

/*cabecera*/

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 30px 10px 10px 10px;
}

nav {
    min-width: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .logo_container {
    margin-left: 100px;
}

nav .logo_container img {
    width:220px;
    margin-top: 5px;
}

nav .header_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
    min-width: 100px;
}

nav .header_menu a {
    color:black;
    border-bottom: 1 solid black;
    padding: 10px;
    text-decoration: none;
}

/*cuerpo de pagina*/

main {
    width: 100%;
    height: auto;
}

/*primer contenedor */
.white-background {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.container-one {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 280px;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    text-align: start;
    padding: 15px;
}

/*segundo contenedor */

.white-background2 {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./images/bg-curve-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-two {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 280px;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    text-align: start;
    padding: 15px;
}

/*tercer contenedor */

.purpleslow-background {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--DesaturatedBlue);
}

.container-three {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 280px;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    text-align: start;
    padding: 15px;
}

.container-three .container-three_right {
    display: flex;
    justify-content: initial;
    align-items: center;
    flex-direction: column;
    height: auto;
}

/* articulos */

.container-article {
    width: 50%;
    min-width: 280px;
    height: auto;
    margin: 0 auto;
    text-align: start;
}

.container-article .container-article_subtitle {
    display: flex;
    align-items: center;
}




/* titulos, parrafos, input, botones, imagenes*/

.container-article .container-article_title {
    margin-bottom: 30px;
    font-size: 2.8rem;
    font-weight: bold; /*peso a la fuente*/
    line-height: 2.6rem; /*altura*/
    color: var(--VeryDarkBlue)
}

.container-article  .container-article_paragraph {
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--VeryDarkBlue);
}

.container-article .container-article_title-white {
    margin-bottom: 30px;
    font-size: 2.8rem;
    font-weight: bold; /*peso a la fuente*/
    line-height: 2.6rem; /*altura*/
    color: var(--LightGrayishBlue);
}

.container-article  .container-article_paragraph-white {
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--LightGrayishBlue);
}

.container-article .container-article_subtitle h3{
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: var(--ModerateCyan);
    border-bottom: 1px solid var(--ModerateCyan);
}

.container-article .container-article_subtitle .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background-image: url("./images/icon-arrow.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.input {
    border: 1px solid var(--LightGray);
    min-width: 150px;
    width: 300px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    font-size: 1.2rem;
}

.input2 {
    border: 1px solid var(--LightGray);
    min-width: 150px;
    width: 350px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    font-size: 1.2rem;
}

button {
    background-color: var(--BrightBlue);
    color: var(--LightGrayishBlue);
    border-radius: 5px;
    min-width: auto;
    max-width: auto;
    padding: 5px;
    height: 40px;
    margin: 10px;
    font-size: 1.2rem;
}

.image {
    width: 500px;
    height: auto;
    align-self: center;
}

/*card*/

.container-article .container-article_card {
    width: 200px;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0,0, 0.16);
}

.container-article .container-article_card .card-resume {
    display: flex;
    width: 230px;
}

.container-article .container-article_card .comillas {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background-image: url("./images/icon-quotes.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-article .container-article_card p {
    margin-bottom: 20px;
}

.container-article .container-article_card .card-resume img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 0 auto;
    align-items: center;
    
}

.container-article .container-article_card .card-resume div h6 {
    font-size: 1rem; 
}

.container-article .container-article_card .card-resume div p {
    font-size: 0,6rem; 
}

/*footer*/

.purplehard-background {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--VeryDarkBlue);
    color: var(--LightGrayishBlue);
}

.purplehard-background .one  {
    text-align: start;
}

.purplehard-background .one .logo2 {
    width: 100px;
}

.purplehard-background .two {
    display: flex;
    flex-direction: column;
}

.purplehard-background .two a {
    text-decoration: none;
    list-style: none;
    color: var(--LightGrayishBlue);
}

.purplehard-background .three {
    display: flex;
    flex-direction: column;
}

.purplehard-background .three a {
    text-decoration: none;
    list-style: none;
    color: var(--LightGrayishBlue);
}

.purplehard-background .four {
    display: flex;
    justify-content: space-around;
   
}

.purplehard-background .four .facebook{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background-image: url("./images/001-facebook.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
}

.purplehard-background .four .twitter{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background-image: url("./images/002-twitter.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
}

.purplehard-background .four .instagram{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background-image: url("./images/011-instagram.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
}

.attribution {
    background-color: var(--VeryDarkBlue);
    color: var(--LightGrayishBlue);
}



